html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

@font-face {
  src: url(fonts/p.tff);
  font-family: nos;
}
h1 {
  position: absolute;
  width: 509px;
  height: 173px;
  left: 194px;
  top: 234px;
  
  font-family: Futura Md BT;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 173px;
  /* identical to box height */
  
  letter-spacing: 0.1em;
  
  color: #ffffff;
}

h4 {
  position: absolute;
  width: 299px;
  height: 43px;
  left: 202px;
  top: 546px;
  
  font-family: nos;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.1em;

  letter-spacing: 0.1em;

  color: #FFFFFF;
}

br {
  line-height: 20px;

}

.imgmoon{
  position: absolute;
  width: 800px;
  height: 800px;
  left: 950px;
  top: 8px;

  background-image: url(moon3.png);
  background-size: 100%;
}

.imgmountains {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 43px;

  background-image: url(mountains.png);
  background-size: 100%;
}

body {
  position: relative;
  width: 1920px;
  height: 6500px;

  background: linear-gradient(180deg, #2A3950 0%, rgba(42, 57, 80, 0.82) 62.08%);
}